\element{ {{ ref }} }{
\begin{questionmultx}{ {{ id }} }

{{ enonce }}

\AMCnumericChoices{ {{ valueAMC }} }{
digits={{ digitsNum + digitsDen }},
decimals={{ digitsDen }},
sign={{ sign }},
approx=0,
alsocorrect={{ alsoCorrect }},
borderwidth=0pt,backgroundcol=lightgray,scoreexact=1
}

\end{questionmultx}
}